@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import 'abstracts/media-query';
@import 'abstracts/mixin';
@import 'abstracts/colors';
@import 'base/index';
@import 'pages/index';
@import 'components/index';
@import 'layout/index';

* {
   box-sizing: border-box;
   font-family: $font;
}
body {
   margin: 0 auto;
   padding: 45px;
   max-width: 1300px;

   @media screen and (max-width: $breakpoint-mobile) {
      padding: 2em 0px;
      max-width: 335px;
   }
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}
