@import '../base/index';

@mixin title-small {
    font-family: $font;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: right;
}

@mixin title-medium($size, $line-height) {
    font-family: $font;
    font-size: $size;
    font-weight: 700;
    line-height: $line-height;
}

@mixin banner-shadow {
    box-shadow: 0px 4px 4px 0px #00000040;
}

@mixin banner-text-shadow {
    box-shadow: 0px 4px 4px 0px #00000040;

}