.accordion {

    &__header {
        background-color: $primary-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 5px;
        @include title-medium(18px, 25.67px);
        color: $white-color;
        height: 52px;
        align-items: center;
        padding: 0px 1em;
        margin-bottom: 0px;

        img {
            cursor: pointer;
        }

        .arrow-up {
            transform: rotate(0deg);
            transition: transform 0.5s linear;
          }
          
        .arrow-up.open {
            transform: rotate(180deg);
            transition: transform 0.5s linear;
        }
    }

    .accordion__body  {
        visibility: hidden;
        background-color: $grey-color;
        @include text-accordion;
        padding: 1em;
        border-radius: 10px 10px 5px 5px;
        opacity: 0;
        height: 0px;
        transition-property: height, visibility, opacity;
        transition-duration: 1000ms;
        transition-timing-function: ease-out;
      
    }
    
    .active {
        visibility: visible;
        opacity: 1;
        height: auto;
        transition-property: height, opacity, visibility;
        transition-duration: 1500ms;
        transition-timing-function: ease-in;
    }
}