.banner {
    margin: 3.12em auto;
    &__content {
       display: flex;
       align-items: center;
       justify-content: center;
 
       img {
          //background: rgba(0, 0, 0, 0.7) ; 
          @include banner-shadow;
          border-radius: 25px;
          //background-blend-mode: darken;
          width: 100%;
          height: 20%;
          filter: brightness(0.5);
          @media screen and (max-width: $breakpoint-mobile) {
            height: 111px;
            object-fit: cover;
          }
       }
    }
 
    h1 {
       position: absolute;
       @include title-medium(48px, 35px);
       color: white;
       text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000;
       
       @media screen and (max-width: $breakpoint-mobile) {
            @include title-medium(24px, 24px);
            display: flex;
            flex-direction: column;
            right: 4.5em;
        }
        @media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-laptop) {
         @include title-medium(34px, 24px);
     }
        
    }
 }