.thumb {
    width: 30.53%;
    @media screen and (max-width: $breakpoint-laptop) {
        width: 100%;
    }

    &__title {
        display: block;
        color: $white-color;
        @include title-medium(18px, 27.67px);
        position: relative;
        top: 18em;
        left: 1em;
        width: 87%;
    
    }

    img {
        width: 100%;
        border-radius: 0.62em;
        height: 350px;
        object-fit: cover;
    }

    a {
        text-decoration: none;
    }
}