.thumb {
    width: 30.53%;
    @media screen and (max-width: $breakpoint-laptop) {
        width: 100%;
    }

    &:hover {
        transform: scale(1.1);
        transition-duration: 2000ms;
        opacity: 0.8;
    }

    &__title {
        display: block;
        color: $white-color;
        @include title-medium(18px, 27.67px);
        position: relative;
        top: 18em;
        left: 1em;
        width: 87%;
    
    }

    img {
        width: 100%;
        border-radius: 0.62em;
        height: 350px;
        object-fit: cover;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    }

    a {
        text-decoration: none;
    }
}