.tags {

    ul {
        display: flex;
        flex-direction: row;
        column-gap: 1em;
        padding-left: 0px; 
        @media screen and (max-width: $breakpoint-mobile) {
            flex-wrap: wrap;
            gap: 1em;
        }
    }

    li {
        background-color: $primary-color;
        padding: 0.4em 2em;
        border-radius: 14px;
        color: $white-color;
        @include title-medium(14px,19.96px);
        @media screen and (max-width: $breakpoint-mobile)  {
            @include title-medium(10px, 14.26px);
            padding: 0.4em 1.2em;
        }

    }
   
}