@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
.footer {
  position: absolute;
  background-color: #000000;
  width: 100%;
  left: 0;
  height: 13em;
  text-align: center;
}

.footer img {
  margin-top: 5em;
}

.footer__copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: center;
  color: white;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img {
  width: 100%;
}

.nav__list {
  display: flex;
  gap: 3em;
}

.nav__list a {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: right;
  color: #000000;
}

.nav__link {
  list-style: none;
}

.nav__link a {
  text-decoration: none;
}

.nav__link a:hover {
  text-decoration: underline;
}

.nav__link a.active {
  text-decoration: underline;
}

/***
** Custome section Gallery
**/
.gallery {
  background-color: rgb(246, 246, 246);
  border-radius: 1.56em;
  padding: 4.68em 4.68em;
  margin-bottom: 3.5em;
}
.gallery__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  gap: 4.85em;
  margin-bottom: 3.25em;
}

.caracteristique {
  margin-bottom: 3.5em;
}
.caracteristique__general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.caracteristique__general--info {
  margin-bottom: 1em;
}
.caracteristique__general--info h1 {
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
  margin-bottom: 0px;
}
.caracteristique__general--info span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26.67px;
  text-align: left;
}
.caracteristique__general--owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
}
.caracteristique__general--owner span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
  color: #FF6060;
  width: 59%;
  padding-right: 1em;
}
.caracteristique__general--owner img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.caracteristique__satisfaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.caracteristique__specificities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5em;
}
.caracteristique__specificities .accordion {
  width: 50%;
}

.tags ul {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  padding-left: 0px;
}
.tags li {
  background-color: #FF6060;
  padding: 0.4em 2em;
  border-radius: 14px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.96px;
}

.error {
  text-align: center;
  margin-bottom: 3.5em;
}
.error h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: center;
  color: #FF6060;
}
.error__404 {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 288px;
  font-weight: 700;
  line-height: 410.69px;
  color: #FF6060;
}
.error a {
  color: rgb(0, 0, 0);
}

.thumb {
  width: 29%;
  height: 26%;
}
.thumb__title {
  display: block;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 27.67px;
  position: relative;
  top: 18em;
  left: 1em;
  width: 87%;
}
.thumb img {
  width: 350px;
  border-radius: 0.62em;
  height: 350px;
  object-fit: cover;
}
.thumb a {
  text-decoration: none;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider__button {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 240px;
  column-gap: 65em;
}
.slider__button img {
  width: 4%;
  height: 5%;
}
.slider__count {
  position: relative;
  top: 22.5em;
  text-align: center;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: center;
}
.slider__image {
  width: 100%;
}
.slider__image img {
  width: 100%;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}

.accordion__header {
  background-color: #FF6060;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.67px;
  color: #FFFFFF;
  height: 52px;
  align-items: center;
  padding: 0px 1em;
  margin-bottom: 0px;
}
.accordion .accordion__body {
  display: none;
  background-color: rgba(246, 246, 246, 0.45);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: rgb(0, 0, 0);
  padding: 1em;
  border-radius: 10px 10px 5px 5px;
}
.accordion .active {
  display: block;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0 auto;
  padding: 45px;
  max-width: 1300px;
}

ul {
  list-style: none;
}

.banner {
  margin: 3.12em auto;
}
.banner__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__content img {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  width: 100%;
  filter: brightness(0.5);
}
.banner p {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 35px;
  color: white;
  -webkit-text-stroke: #000000;
  -webkit-text-stroke-width: 1px;
}

/*# sourceMappingURL=style.css.map */
