.error {
    text-align: center;
    margin-bottom: 3.5em;

    h1 {
        @include title-small(36px, center, 51.34px);
        color: $primary-color;
        @media screen and (max-width: $breakpoint-mobile) {
            @include title-small(18px, center, 25.67px);
            margin-bottom: 3.5em;
        }
    }

    &__404 {
        display: block;
        @include title-medium(288px, 410.69px);
        color: $primary-color;
        @media screen and (max-width: $breakpoint-mobile) {
            @include title-medium(96px, 136.9px);
            margin: 0.5em 0px;
        }
    }
    a {
        color: rgba(0, 0, 0, 1);
    }
    
}