.caracteristique {
    margin-bottom: 3.5em;

    &__general {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--info {
            margin-bottom: 1em;
            h1 {
                color: $primary-color;
                @include title-small(36px, left, 51.34px);
                margin-bottom: 0px
            }

            span {
                @include title-small(18px, left, 26.67px);
            }
        }

        &--owner {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 30%;

            span {
                @include title-small(18px, right, 25.67px);
                color: $primary-color;
                width: 59%;
                padding-right: 1em;
            }
            
            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;

            }
        }
    }
    &__satisfaction {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__specificities {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5em;

        .accordion {
            width: 50%;
        }
    }
}

.tags {

    ul {
        display: flex;
        flex-direction: row;
        column-gap: 1em;
        padding-left: 0px;
    }

    li {
        background-color: $primary-color;
        padding: 0.4em 2em;
        border-radius: 14px;
        color: $white-color;
        @include title-medium(14px,19.96px)
    }
   
}