.caracteristique {
    margin-bottom: 3.5em;

        &__content {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
           
            @media screen and (max-width: $breakpoint-mobile) {
                flex-wrap: wrap;
                flex-direction: column;
            }
    }

    &__general {
        display: flex;
        flex-direction: column;
        width: 50%;
        @media screen and (max-width: $breakpoint-mobile) {
            width: 100%;
        }

        &--info {
            margin-bottom: 1em;
            h1 {
                color: $primary-color;
                @include title-small(36px, left, 51.34px);
                margin-bottom: 0px;
                @media screen and (max-width: $breakpoint-mobile)  {
                    @include title-small(18px, left, 25.67px);
                }
            }

            span {
                @include title-small(18px, left, 26.67px);
                @media screen and (max-width: $breakpoint-mobile)  {
                    @include title-small(14px, left, 19.96px);
                }

            }
        }

        &--owner {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 30%;
            @media screen and (max-width: $breakpoint-mobile) {
                width: 50%;
            }

            span {
                @include title-small(18px, right, 25.67px);
                color: $primary-color;
                width: 59%;
                padding-right: 1em;
            }
            
            img {
                width: 64px;
                height: 64px;
                border-radius: 50%;

            }
        }
    }
    &__satisfaction {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        width: 50%;
        align-items: end;
        @media screen and (max-width: $breakpoint-mobile) {
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .rating {
            @media screen and (max-width: $breakpoint-mobile) {
                width: 50%;
            }
        }
    }

    &__specificities {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5em;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 2em;
        @media screen and (max-width: $breakpoint-mobile) {
            gap: 2em;
        }

        .accordion {
            width: 45%;
           @media screen and (max-width: $breakpoint-mobile) {
                width: 100%;
            } 
        }
    }
}