@import '../abstracts/index';

.footer {
    position: absolute;
    background-color: $dark-color;
    width: 100%;
    left: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    img {
        margin-top: 5em;
    }

    &__copyright {
        @include title-small(24px, center, 34.22px);
        color: white;
        text-align: center;
        @media screen and (max-width: $breakpoint-mobile) {
            @include title-small(12px, center, 17.11px);
            width: 34%;
            margin-bottom: 1.5em;
        }
        
    }
}