@import '../abstracts/mixin';
@import '../abstracts/colors';

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        img {
            width: 100%;
        }
    }
    &__list {
        display: flex;
        gap: 3em;

        a {
            @include title-small(24px, right, 34.22px);
            color: $dark-color;
        }
    }
    &__link {
        list-style: none;

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a.active {
            text-decoration: underline;
        }
    }
}   