@import '../abstracts/mixin';
@import '../abstracts/colors';
@import '../abstracts/index';

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        img {
            width: 100%;
            @media screen and (max-width: $breakpoint-tablet) {
                height: 48px;
            }
        }
    }
    &__list {
        display: flex;
        gap: 3em;

        @media screen and (max-width: $breakpoint-mobile) {
            gap: 1em;
        }

        a {
            @media media and (max-width: $breakpoint-mobile) {
                font-size: 12px;
            } 
        }
    }
    &__link {
        list-style: none;

        a {
            @include title-small(24px, right, 34.22px);
            color: $dark-color;
            @media screen and (max-width: $breakpoint-mobile) {
                @include title-small(12px, right, 34.22px);
                text-transform: uppercase ;
            }
        }

        a:hover {
            text-decoration: underline;
        }

        a.active {
            text-decoration: underline;
        }
    }
}   